<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="id1"
         point="org.eclipse.e4.workbench.model">
      <fragment
            uri="fragment.e4xmi">
      </fragment>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="optm.bettingschedule.definition1">
         <with
               variable="org.eclipse.ui.selection">
            <instanceof
                  value="optm.bettingschedule.model.BettingSchedule">
            </instanceof>
         </with>
      </definition>
   </extension>

</plugin>
